src/main/resources/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="itemlist" type="itemlistType"/>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="item1"/>
            <xs:enumeration value="item2"/>
            <xs:enumeration value="item3"/>
            <xs:enumeration value="item4"/>
            <xs:enumeration value="item5"/>
            <xs:enumeration value="subItem1"/>
            <xs:enumeration value="item6"/>
            <xs:enumeration value="item7"/>
            <xs:enumeration value="subItem2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="label" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Item 2"/>
            <xs:enumeration value="Item 7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="subitemsType" name="subitems" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subitemType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="subItem1Item1"/>
            <xs:enumeration value="subItem1Item2"/>
            <xs:enumeration value="subItem1Item3"/>
            <xs:enumeration value="item1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="label">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SubItem 1"/>
            <xs:enumeration value="SubItem 2"/>
            <xs:enumeration value="SubItem 3"/>
            <xs:enumeration value="SubItem 2 item1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemlistType">
    <xs:sequence>
      <xs:element type="itemsType" name="items"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subitemsType">
    <xs:sequence>
      <xs:element type="subitemType" name="subitem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>